*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Euclid Circular A', sans-serif;
}
button{
    font-family: 'Euclid Circular A', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}