$clr-primary: #343434;
$clr-mainGreen: #43ba7f;
$clr-mainBG: #fbf5f2;
$clr-black700: #02172c;
$clr-mainYellow: #fcc231;
$clr-mainOrange: #ff8145;
$clr-mainViolet: #c282d1;
$clr-blue: #3878f2;
$clr-black100: #e6e8ea;
$clr-black500: #677480;
$clr-black300:#CCD1D5;
$clr-black400:#9AA2AB;
$clr-black600:#354556;